In [6]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [7]:
prog = pd.read_csv('course_progress.csv')
item_grades = pd.read_csv('course_item_grades.csv')

In [8]:
item_grades.head()

,course_id,course_item_id,mipt_user_id,course_item_grade_ts,course_item_passing_state_id,course_item_grade_overall,course_item_grade_verified,course_item_grade_pending
0,RcnRZHHtEeWxvQr3acyajw,2yTvX,27895f12855f0076a54779a71113195166b32a2a,2016-09-20 10:50:47.207,0,0.0,0.0,0.0
1,RcnRZHHtEeWxvQr3acyajw,2yTvX,bcd1988c24894ccee77960bdb60bdbd1cae665ab,2016-02-19 20:49:23.533,2,1.0,1.0,0.0
2,RcnRZHHtEeWxvQr3acyajw,2yTvX,9c7bde301757cd54a6c7c13d616932caf5431447,2016-06-25 00:02:53.48,2,1.0,1.0,0.0
3,RcnRZHHtEeWxvQr3acyajw,2yTvX,c08b4c96e4c9da72c7c51cbb4eabd51b4b705fa4,2016-02-14 13:25:13.535,2,1.0,1.0,0.0
4,RcnRZHHtEeWxvQr3acyajw,2yTvX,bc58eea4796e08c6b31f1c40348890fa4166335a,2016-07-02 20:31:50.312,2,1.0,1.0,0.0

In [9]:
items = np.unique(item_grades['course_item_id'].values)

In [10]:
len(np.unique(item_grades['course_item_id'].values))

14

In [11]:
length = len(np.unique(item_grades['course_item_id'].values)) + 1
print length

15

In [12]:
users = np.unique(item_grades['mipt_user_id'].values)

In [13]:
len(users)

7513

In [14]:
passing_states = item_grades['course_item_passing_state_id'].values

In [15]:
indexes = [2 == grade for grade in passing_states]

In [16]:
new_table = item_grades[indexes]

In [17]:
new_table.head()

,course_id,course_item_id,mipt_user_id,course_item_grade_ts,course_item_passing_state_id,course_item_grade_overall,course_item_grade_verified,course_item_grade_pending
1,RcnRZHHtEeWxvQr3acyajw,2yTvX,bcd1988c24894ccee77960bdb60bdbd1cae665ab,2016-02-19 20:49:23.533,2,1.0,1.0,0.0
2,RcnRZHHtEeWxvQr3acyajw,2yTvX,9c7bde301757cd54a6c7c13d616932caf5431447,2016-06-25 00:02:53.48,2,1.0,1.0,0.0
3,RcnRZHHtEeWxvQr3acyajw,2yTvX,c08b4c96e4c9da72c7c51cbb4eabd51b4b705fa4,2016-02-14 13:25:13.535,2,1.0,1.0,0.0
4,RcnRZHHtEeWxvQr3acyajw,2yTvX,bc58eea4796e08c6b31f1c40348890fa4166335a,2016-07-02 20:31:50.312,2,1.0,1.0,0.0
5,RcnRZHHtEeWxvQr3acyajw,2yTvX,27ae2411001108bd1981fae3cbdb8754a23cf6bc,2016-09-25 18:34:59.276,2,1.0,1.0,0.0

In [18]:
x = new_table[new_table['mipt_user_id'] == 'f21a9feb2a54ac53e696063de8d963c80310f318']

In [19]:

print x.shape[0]
dict_1 = {}
for i in range(length):
    dict_1[i] = 0

14

In [20]:
dict_1[0]

0

In [21]:
for user in users:
    x = new_table[new_table['mipt_user_id'] == user]
    k = int(x.shape[0])
    #print k
    s = dict_1[k]
    m = s + 1
    dict_1[k] = m

In [22]:
dict_1.values()

[4323, 127, 104, 279, 120, 139, 290, 90, 52, 59, 75, 152, 190, 255, 1258]

In [23]:
values = dict_1.values()

In [27]:
last = pd.DataFrame()
last['number'] = range(length)
last['values'] = values
last.to_csv('last.csv')